@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <h1 class="display-4">欢迎使用 Nginx 日志 WebUI</h1>
    <p>当前使用的系统为: @ViewBag.OS</p>
    <p>当前使用的路径为: @ViewBag.NowPath</p>
    <a href="~/Home/Use" class="btn btn-primary btn-lg" role="button">开始使用</a>
</div>
